.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Container for the toggle switch */
.toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
}

/* The actual toggle switch */
.toggle-switch-checkbox {
  position: relative;
  width: 40px;
  height: 20px;
  opacity: 0;
  z-index: 2;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  transition: .4s;
  z-index: 1;
}

.toggle-switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: .4s;
}

.toggle-switch-checkbox:checked + .toggle-switch-slider {
  background-color: #2ab934;
}

.toggle-switch-checkbox:focus + .toggle-switch-slider {
  box-shadow: 0 0 1px #2ab934;
}

.toggle-switch-checkbox:checked + .toggle-switch-slider:before {
  transform: translateX(20px);
}